.modifyText {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 200px;

  .modifyTextWrapper {
    display: flex;
    flex-direction: column;
    width: 742px;
    height: 538px;
    .modifyTextName {
      margin-bottom: 30px;
      height: 30px;
      border: none;
      background-color: #ececec;
      border-radius: 8px;
      width: 200px;
    }
    .modifyTextCaption {
      margin-bottom: 30px;
      height: 30px;
      border: none;
      background-color: #ececec;
      border-radius: 8px;
    }
    .modifyTextContent {
      margin-top: 13px;
      font-size: 14px;
      resize: none;
      height: 300px;
      padding: 0px;
      border: none;
      background-color: #ececec;
      border-radius: 8px;
    }
    .modifyTextButtonWrapper {
      display: flex;
      justify-content: center;

      button,
      a {
        margin: 20px;
        padding: 20px;
        border-radius: 30px;
        font-size: 16px;
        text-decoration: none;
        border: none;
        color: white;
        background-color: #ececec;
        cursor: pointer;
      }
      .modifyTextSave {
        background-color: #1e90ff;
      }
      .modifyTextDelete {
        background-color: #dc143c;
      }
    }
  }
}
@media (max-width: 768px) {
  .App {
    // display: flex;
    // justify-content: center;
    // align-items: center;
    .modifyTextWrapper {
      width: 342px;
    }
  }
}
